/* :root {
  --iris-color 
} */

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-part {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav-item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}

.nav-item-link:hover {
  color: #4d5ae5;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

.address-link:hover {
  color: #4d5ae5;
}

/*
.hero {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  /* background-color: #2e2f42; 

.hero-title {
  background-color: #2e2f42;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% 
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;

  /* IRIS 

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4;
} */

.feature-name {
  font-size: 20px;
  line-height: 12px;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}

.feature-description {
  font-size: 16px;
  line-height: 15px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

.eg-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 11.1px;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 11.1px;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}

.our-team-name {
  font-size: 20px;
  line-height: 12px;
  /* identical to box height, or 120% */

  /* text-align: center; */
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}

.our-team-job {
  font-size: 16px;
  line-height: 15px;
  /* identical to box height, or 150% */

  /* text-align: center; */
  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
